.active__video{
    display: flex;
    justify-content: center;
   align-items: center;
    position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 9999;
    background-color: rgba(15, 9, 9, 0.6);
   
    
    
}

.svg-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    width: 80px;
  height: 80px; 
  color: #8348D8;
  }

.none{
    display: none;
}

.youtube{
    display: flex;
    align-content: center;
    width: 50%;
    height: auto;
}
.card__video{
    position: relative;
    height: 200px;
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card__video img{
cursor: pointer;
border: solid;
border-radius: 10px;
}
.card__video img:hover{
    border: solid #8348D8;
}

@media only screen and  (max-width:600px) {
    .card__video{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0px;
    margin-right: 0px;
    
    }
    .youtube{
        display: flex;
        align-content: center;
        width: 100%;
        height: auto;
    }
 }