.active__video{
    display: flex;
    justify-content: center;
   align-items: center;
    position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 9999;
    background-color: rgba(15, 9, 9, 0.6);
   
    
    
}

.none{
    display: none;
}

.youtube{
    display: flex;
    align-content: center;
    width: 100%;
    height: auto;
}
.card__video{
    height: 200px;
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and  (max-width:600px) {
    .card__video{
        margin-top: 30px;
        margin-bottom: 30px;
    
    }
 }