.active__video{
    display: flex;
    justify-content: center;
   align-items: center;
    position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 9999;
    background-color: rgba(255, 0, 0, .5);
   
    
    
}

.none{
    display: none;
}

.youtube{
    display: flex;
    align-content: center;
    width: 44vw;
    height: 50vh;
}
.card__video{
    height: 200px;
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}