.img__head__itemDetail{
    width: 1000px;
    
    top: 50px;
    
}
.itemDetail{
    color: #CCCCCC;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0D0D0D ;
}
.titulo__itemDetail{
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}
.head__itemDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.info1__itemDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   margin-left: 100px;
   margin-right: 100px;

}
.info1__itemDetail h4{
    width: 50%;
    font-size: 20px
}

.carrousel__container{
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.seccion__itemDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 50px;
}

.tecnologias__contain{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.programacion__botones{
    border :solid black;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
    border-radius: 20px;
    background: linear-gradient(145deg, #3d3d3d, #333333);

}

.programacion__botones:hover{
    box-shadow:0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #8247D6,
    0 0 82px #8247D6,
    0 0 92px #8247D6,
    0 0 102px #8247D6,
    0 0 151px #8247D6; ;
    border :solid #fff;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #8247D6,
    0 0 82px #8247D6,
    0 0 92px #8247D6,
    0 0 102px #8247D6,
    0 0 151px #8247D6;
}

@media only screen and  (max-width:600px) {
    
    .video__itemDetail{
       width: 10px;
       height: 50px;
    }
    .info1__itemDetail{
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
       
    }
    .info1__itemDetail h4{
        width: 95%;
        
    }

    .titulo__itemDetail{
        font-size: 40px;
        text-align: center;
    }
    .head__itemDetail{
        
        padding-bottom: 50px;
        
    }
    .seccion__itemDetail{
        height: 800px;
        width: 100%;
    flex-direction: column;
    justify-content: center;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 50px;
   align-items: center;
    }

    .tecnologias__contain{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
    }
    .programacion__botones{
        width: 90%;
        
        
        
        
    
    }
 }