.img__detail{
    height: 100%;
    width: auto;
    border-radius: 10px;
}
.img__container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    cursor: pointer;
}

.img__modal{
    
    height:  90vh;
    width: auto;
    
    
}

.seccion__itemDetail__ilustraciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 50px;
}

.img__modal__container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
        background-color: rgba(15, 9, 9, 0.6);
}
@media only screen and  (max-width:600px) {
    
    .info1__itemDetail_ilustraciones{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .img__container{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        cursor: pointer;
    }
    .img__modal{
    
        height:  auto;
        width: 100%;
        
        
    }

    .seccion__itemDetail__ilustraciones{
        height: 300px;
        width: 100%;
    flex-direction: column;
    justify-content: center;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 0px;
   align-items: center;
    }
 }