.logo__completo{
    
    width: 60vw;
    filter: drop-shadow(10px 2px 5px #0D0D0D);
}

.tipeo{
    color: rgb(219, 217, 217);
    font-size: 20px;
    border-radius: 50px;
background: #363535;
box-shadow: inset 5px 5px 12px #161616,
            inset -5px -5px 12px #565454;
            padding: 20px;
}

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
    }
    .section__presentación{
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        color: #fff;
        background:linear-gradient(60deg,#0D0D0D,#0D0D0D,#D92B04,#F26D78,#0D0D0D,#0D0D0D);
        background-size: 300%;
        background-attachment: fixed;
        background-position: center;
        animation: cambiar 10s ease infinite;
    }

    @media only screen and  (max-width:600px) {
        .section__presentación{
            display: none;
        }
     }