.nav__item{
    transition: 0.5s ease-in-out;
}

ul{
    list-style: none;
}
.header__nav{
    margin-right: 20px;
    color:#F2F2F2;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
 }
.nav__item:hover{
    color: #F26D78;
    font-size: 17px;
    transition: 0.5s ease-in-out;
}


    a{
        text-decoration: none;
        color: #F2F2F2;
    }

    .dropdownMenu__item{
        padding-left: 10px;
        padding-right: 50px;
    }
    .dropdownMenu__item:hover{
        background-color: #F26D78;
    }
    
.dropdown__menu{
        background-color: #0D0D0D;
        position: absolute;
        z-index: 2;
        
     }
    

     @media only screen and  (max-width:600px) {
        .header__nav{
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            height: 0vh;
            overflow: hidden;
            opacity: 0;
            transition: all .5s ease;
            background-color: #1D1D1D;
            
        }

        .header__nav.isActive{
      
            height: 100vh;
            opacity: 1;
            
      
          }
     }