.card__item__programacion img{
    width: 300px;
    border-radius: 10px;

}

.card__item__programacion h3{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.card__item__programacion h4{
    color: #CCCCCC;
    font-size: 18px;
}

.card__item__programacion{
    margin-left: 20px;
    margin-right: 20px;
}

.display__none{
    display: none;
}

@media only screen and  (max-width:600px) {
    .card__item__programacion{
        margin-top: 30px;
        margin-bottom: 30px;
    
    }
 }